<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="open">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>Already a user? <a href="/login">Login!</a></p>
      <p>Not a user? <a href="/signup">Signup here!</a></p>
    </div>
  </body>
</html>