<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>
  <body>
    <form action="/lists/send" method="POST">
        <input type="text" name="newID" placeholder="Enter your ID"/>
        <input type="submit" value="Click here to submit the form"/>
    </form>
  </body>
</html>