<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ethos</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="/lists/books" class="dropdown-toggle" data-toggle="dropdown">Books</a>
              <ul class="dropdown-menu">
                <li><a href="/lists/books#completed">Current</a></li>
                <li><a href="/lists/books#current">Completed</a></li>
                <li><a href="/lists/books#planned">Planned</a></li>
                <li><a href="/lists/books#onHold">On Hold</a></li>
                <li><a href="/lists/books#dropped">Dropped</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/lists/movies" class="dropdown-toggle" data-toggle="dropdown">Movies</a>
              <ul class="dropdown-menu">
                <li><a href="/lists/movies#completed">Current</a></li>
                <li><a href="/lists/movies#current">Completed</a></li>
                <li><a href="/lists/movies#planned">Planned</a></li>
                <li><a href="/lists/movies#onHold">On Hold</a></li>
                <li><a href="/lists/movies#dropped">Dropped</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/lists/tvshows" class="dropdown-toggle" data-toggle="dropdown">TV Shows</a>
              <ul class="dropdown-menu">
                <li><a href="/lists/tvshows#completed">Current</a></li>
                <li><a href="/lists/tvshows#current">Completed</a></li>
                <li><a href="/lists/tvshows#planned">Planned</a></li>
                <li><a href="/lists/tvshows#onHold">On Hold</a></li>
                <li><a href="/lists/tvshows#dropped">Dropped</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/lists/music" class="dropdown-toggle" data-toggle="dropdown">Music</a>
              <ul class="dropdown-menu">
                <li><a href="/lists/music#completed">Current</a></li>
                <li><a href="/lists/music#current">Completed</a></li>
                <li><a href="/lists/music#planned">Planned</a></li>
                <li><a href="/lists/music#onHold">On Hold</a></li>
                <li><a href="/lists/music#dropped">Dropped</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/lists/videogames" class="dropdown-toggle" data-toggle="dropdown">Video Games</a>
              <ul class="dropdown-menu">
                <li><a href="/lists/videogames#completed">Current</a></li>
                <li><a href="/lists/videogames#current">Completed</a></li>
                <li><a href="/lists/videogames#planned">Planned</a></li>
                <li><a href="/lists/videogames#onHold">On Hold</a></li>
                <li><a href="/lists/videogames#dropped">Dropped</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">New Catagory</a></li>
                <li><a href="#">My Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
  </body>
</html>
