body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 30px 0px;
}

a {
  color: #00B7FF;
}
.container{
	padding:60px 0 0 0;
}
.panel-heading{
	font-size: 30px;
}
div small{
	color: #777777;
	font-size: 20px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(93,144,205);
    color: #ffffff;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.input-group button{
	float: right;
}
form{
	width: 100%;
}
.open{
	text-align: center;
}
.open h1{
	font-size: 75px;
}
.open p a{
	text-decoration: none;
}
.login{
	border: 1px solid #D8DEE2;
	border-radius: 5px;
	width: 25%;
	padding: 40px 40px 40px 70px;
	margin: 0 0 0 510px;
	font-size: 20px;
	background-color: #eeeeee;
}
.login p, .login div{
	padding: 10px 0 0 0;
}
.login button{
	background-color: #337AB7;
}
.signup{
	border: 1px solid #D8DEE2;
	border-radius: 5px;
	width: 25%;
	padding: 40px 40px 40px 70px;
	margin: 0 0 0 510px;
	font-size: 15px;
	background-color: #eeeeee;
}
.signup p, .signup div{
	padding: 10px 0 0 0;
}
.signup input{
	width: 90%;
}
.well{
	width: 100%;
	text-align: center;
	font-size: 20px;
}